* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 5%;
    margin-top: 2.5%;
    font-size: 77px;
}

h2 {
    margin: 2%;
    font-size: 42px;
}

section {
    border: solid 1px gray;
    text-align: center;
    height: 333px;
}

ul {
    display: inline-flex;
    margin-bottom: 5%;
    border: solid 1px gray;
}

li {
    margin: 0px 21px;
    width: 100%;
    display: inline-flex;
}

form {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

img {
    height: 100%;
    width: 90%;
    margin: 5%;
}

.startQuiz,
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    padding: 1em;
    border: 0.1em #371d0d solid;
    background-color: #ffd700;
    width: 80%;
    height: 100%;
}

.box {
    background-image: url('images/tennis-background.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 10%;
    background-attachment: fixed;
    border-radius: 1%;
}

.center {
    text-align: center;
}

.container {
    width: auto;
}

.questionContainer {
    background-color: aliceblue;
    height: 100%;
    width: 55%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}